@model IEnumerable<PRA.DBQuizard.Question>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Questions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quiz.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quiz.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IDQuestion }) |
            @Html.ActionLink("Details", "Details", new { id = item.IDQuestion }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IDQuestion }) |
            @Html.ActionLink("EditQuestions", "Index", "Answers")
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to Quizs", "Index" , "Quizs")
</div>
