<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/items.css" rel="stylesheet" />

    <title>@ViewBag.Title Page</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="background">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Quizard", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Napravi kviz", "Index", "Quiz")</li>*@
                    <li>@Html.ActionLink("Prodruži se kvizu", "Join", "Quiz")</li>
                    <li>@Html.ActionLink("Vaši kvizovi", "Index", "Quizs")</li>
                    <li>@Html.ActionLink("Uredi profil", "Index", "UserAccs")</li>
                    <li style="margin-left:550px;"><a href="~/WEBFORME/PrijavaPostojecegKorisnika.aspx">Odjavi se</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="front-box" style="margin-top:10em">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
